<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.tubi.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tubi"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.Provider.CorrectedQuantityFromDeletedOrdersActivity"></activity>
        <activity
            android:name=".activity.company_my.RedactProductCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.invoice.DownloadFullPricePDFActivity" />
        <activity
            android:name=".activity.buyer.BuyGoodsTogetherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageFeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.agent.CodeGeneratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.agent.ChoosePartnerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.buyer.PlaceOfReceiptOfGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.EnterForDeliveryAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.invoice.InvoiceProviderPDFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.OrderToProviderListActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ru.tubi.project.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.invoice.InvoicePDFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Partner.OrderBuyerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.logistics.HandOverProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.GiveAwayProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.ShipmentProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.ProviderCollectProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.OrderForCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.invoice.ProductInvoicePDFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buyer.ChooseDistributionWarehouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.logistics.IntercityDeliveryCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.invoice.PdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.MyProductInPartnerWarehouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.InvoiceCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.ProductInvoiceCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.CollectProductForAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.WriteOutProductActivity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".activity.company_my.WriteOutOrderForBuyerActivity" /> -->
        <activity
            android:name=".activity.company_my.CollectProductForActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.ChengeImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.ShowMyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Partner.BuyerOrderIssueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Partner.ListBuyersIssueGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Partner.PartnerListBuyersForCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Partner.PartnerCollectProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Partner.AcceptProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.TransferProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.logistics.DeliveryToReceiveGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.logistics.CarrierPanelFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.logistics.CarrierPanelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.CollectProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.CatalogInWarehouseActivity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".activity.company_my.CatalogForWarehouseActivity" /> -->
        <activity
            android:name=".activity.company_my.DistributionOrdersProviderPartnersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForDelete.DistributionOrdersByWarehousesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.WarehouseEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.WarehouseCreateActivity"
            android:screenOrientation="portrait" />
        <!--
<activity android:name=".activity.AdminPanel.AcceptProductAgentActivity" />
        <activity android:name=".activity.AdminPanel.AcceptProductListProvidersActivity" />
        -->
        <activity
            android:name=".activity.AdminPanel.AgentProgressToCollectProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminPanel.ListProvidersProcessingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.ProviderListBuyersOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminPanel.UserToInfoForOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminPanel.NewBuyerCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminPanel.AddPartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileCompanyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminPanel.ListPartnerForModerationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.CatalogStocksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.company_my.InfoForProductCardFillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.ProductCardFillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompanyMyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContractFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminPanel.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompanyDateFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.OrderFinishedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MakingOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminPanel.ActivityAddProductsCheck"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityProductCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivtyAddProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdmynPanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopingBox"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCatalog"
            android:screenOrientation="portrait" />
        <!--
<activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>