<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.tubi.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tubi"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.buyer.PlaceOfReceiptOfGoodsActivity"></activity>
        <activity android:name=".activity.buyer.EnterForDeliveryAddressActivity" />
        <activity android:name=".activity.invoice.InvoiceProviderPDFActivity" />
        <activity android:name=".activity.company_my.OrderToProviderListActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ru.tubi.project.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.invoice.InvoicePDFActivity" />
        <activity android:name=".activity.Partner.OrderBuyerListActivity" />
        <activity android:name=".activity.logistics.HandOverProductActivity" />
        <activity android:name=".activity.company_my.GiveAwayProductActivity" />
        <activity android:name=".activity.company_my.ShipmentProductActivity" />
        <activity android:name=".activity.company_my.ProviderCollectProductActivity" />
        <activity android:name=".activity.company_my.OrderForCollectActivity" />
        <activity android:name=".activity.invoice.ProductInvoicePDFActivity" />
        <activity android:name=".activity.ChooseDistributionWarehouseActivity" />
        <activity android:name=".activity.logistics.IntercityDeliveryCalendarActivity" />
        <activity android:name=".activity.invoice.PdfActivity" />
        <activity android:name=".activity.company_my.MyProductInPartnerWarehouseActivity" />
        <activity android:name=".activity.company_my.InvoiceCreateActivity" />
        <activity android:name=".activity.company_my.ProductInvoiceCreateActivity" />
        <activity android:name=".activity.company_my.CollectProductForAddActivity" />
        <activity android:name=".activity.company_my.WriteOutProductActivity" /> <!-- <activity android:name=".activity.company_my.WriteOutOrderForBuyerActivity" /> -->
        <activity android:name=".activity.company_my.CollectProductForActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.company_my.ChengeImageActivity" />
        <activity android:name=".activity.company_my.ShowMyOrderActivity" />
        <activity android:name=".activity.Partner.BuyerOrderIssueActivity" />
        <activity android:name=".activity.Partner.ListBuyersIssueGoodsActivity" />
        <activity android:name=".activity.Partner.PartnerListBuyersForCollectActivity" />
        <activity android:name=".activity.Partner.PartnerCollectProductActivity" />
        <activity android:name=".activity.Partner.AcceptProductActivity" />
        <activity android:name=".activity.company_my.TransferProductActivity" />
        <activity android:name=".activity.logistics.DeliveryToReceiveGoodsActivity" />
        <activity android:name=".activity.logistics.CarrierPanelFilterActivity" />
        <activity android:name=".activity.logistics.CarrierPanelActivity" />
        <activity android:name=".activity.company_my.CollectProductActivity" />
        <activity android:name=".activity.company_my.CatalogInWarehouseActivity" /> <!-- <activity android:name=".activity.company_my.CatalogForWarehouseActivity" /> -->
        <activity android:name=".activity.company_my.DistributionOrdersProviderPartnersActivity" />
        <activity android:name=".activity.company_my.DistributionOrdersByWarehousesActivity" />
        <activity android:name=".activity.company_my.WarehouseEditActivity" />
        <activity android:name=".activity.company_my.WarehouseCreateActivity" />
        <!--
<activity android:name=".activity.AdminPanel.AcceptProductAgentActivity" />
        <activity android:name=".activity.AdminPanel.AcceptProductListProvidersActivity" />
        -->
        <activity android:name=".activity.AdminPanel.AgentProgressToCollectProductActivity" />
        <activity android:name=".activity.AdminPanel.ListProvidersProcessingActivity" />
        <activity android:name=".activity.company_my.ProviderListBuyersOrdersActivity" />
        <activity android:name=".activity.AdminPanel.UserToInfoForOrderActivity" />
        <activity android:name=".activity.AdminPanel.NewBuyerCheckActivity" />
        <activity android:name=".activity.AdminPanel.AddPartnerActivity" />
        <activity android:name=".activity.ProfileCompanyActivity" />
        <activity android:name=".activity.AdminPanel.ListPartnerForModerationActivity" />
        <activity android:name=".activity.company_my.CatalogStocksActivity" />
        <activity
            android:name=".activity.company_my.InfoForProductCardFillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company_my.ProductCardFillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.CompanyMyActivity" />
        <activity android:name=".activity.ContractFormActivity" />
        <activity android:name=".activity.AdminPanel.AdminActivity" />
        <activity android:name=".activity.OrderHistoryActivity" />
        <activity android:name=".activity.ProfileUserActivity" />
        <activity android:name=".activity.CompanyDateFormActivity" />
        <activity android:name=".activity.OrderFinishedActivity" />
        <activity android:name=".activity.MessageOrderActivity" />
        <activity android:name=".activity.MakingOrderActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminPanel.ActivityAddProductsCheck"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityProductCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivtyAddProduct"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AdmynPanel" />
        <activity android:name=".activity.ActivityProduct" />
        <activity android:name=".activity.ActivityCategory" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.ShopingBox" />
        <activity android:name=".activity.ActivityCatalog" />
        <!--
<activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>